


h1 { 
	text-align: center;
}

#video-player {
    text-align: center;
	padding:1em 1em .5em;
}

video {
	border:30px solid #fceb2e;
	width:600px;
	height:400px;
	background:#fceb2e;
}

.blue{
	color: rgb(34, 67, 231);
}
.progress {
		margin: auto;
		width:600px;
		height:12px;
		margin-bottom: 5px;
		background-color: darkseagreen;
}
progress::-moz-progress-bar { background:#2e52a4; }

#media-play-list {
	width: 600px;
	border-top: 1px solid #020815;
	margin: auto;
}
#media-play-list  h2 { font-size:12px; }
#play-list {
	padding:0;
	font-size:12px;
	list-style-type:none;
}
#play-list li {
	cursor:pointer;
	padding-left:15px;
}



